<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
				src="assets/stillo_logo.png"
				alt="stillo logo"
				width="180px"
				height="100px">
	</div>
	<div class="menu-bar__item">
		<ul>
			<!-- ul>(li>a)*3 -->
			<!-- <li><a href="">HOME</a></li> -->
			<!-- <li><a href="">PROJETOS</a></li> -->
		</ul>
	</div>
	<div class="menu-bar__redes">
		<ul>
			<li><a href="https://www.instagram.com/stillomoveis_/"><img
				src="assets/logo_instagram.png"
				alt=""
				width="100px"
				height=""
				></a></li>
			<li><a href="https://l.instagram.com/?u=https%3A%2F%2Fbit.ly%2F48pHVmk&e=AT2PiDhKm59H3hOOII8LmqvcUVMj13-xLMQ4nGW42dt4zdm8FafWy-yHTIx7ZZ7ZE6y77XvYwhxUyV_vrUyatwLWlC7WW7SjWsblSHjOgayjkQ_fZM3TNQ"><img
				src="assets/logo_whatsapp.png"
				alt="logo whatsapp"
				width="95px"
				></a></li>
		</ul>
	</div>
</div>
