.carousel-container {
	position: relative;
	text-align: center;
	width: 100%; /* Use 100% para que o carrossel ocupe a largura disponível */
	overflow: hidden;
}

.carousel {
  display: flex;
  overflow: hidden;
  transition: transform 1s ease-in-out;

}

.slide {

  flex: 0 0 100%;

}

.slide img {
  position: relative;
	border: 3px solid #bbc0bca9;
	border-radius: 10px;
	width: 70%;
	height: 600px;
	margin-left: 15%;
	display: flex;
	justify-content: center;
	overflow: hidden;
	margin-top: 100px;
	margin-bottom: 30px;

}

button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

}

.active {
  transform: translateX(0);

}

.arrow-container {
  position: absolute;
  top: 50%;
}

.arrow {
  font-size: 40px; /* Tamanho do ícone de seta */
  cursor: pointer;
	background-color: #98959551; /* Cor de fundo padrão */
	color: #fff;
	padding: 10px 20px;
  transition: background-color 0.3s; /* Adiciona uma transição suave */

}

.left-arrow {
	left: 10px;
}

.right-arrow {
	right: 10px;
}

.arrow:hover {
	background-color: rgb(127, 125, 125)
}
